.user-charts__user-performance {
    position: relative;
    display: flex;
    flex-basis: calc((100% - 65px)/3);

    .recharts-responsive-container {
        background-color: #282D30;
        border-radius: 5px;
    }
}

text.default-tick {
    fill: #fff;
    font-size: 12px;
    font-weight: 500;
}

text.top-tick {
    transform: translate(0, -2px);
}
text.top-right-tick {
    transform: translate(20px, 7px);
}
text.bottom-right-tick {
    transform: translate(15px, 3px);
}
text.bottom-tick {
    transform: translate(0, 8px);
}
text.bottom-left-tick {
    transform: translate(-21px, 3px);
}
text.top-left-tick {
    transform: translate(-17px, 7px);
}