.user-charts__user-activity{
    display: flex;
    flex-basis: 100%;
}

.user-charts__user-average-session,
.user-charts__user-performance {
    display: flex;
    flex-basis: calc((100% - 65px)/3);
}

.user-charts__user-activity .recharts-responsive-container {
    padding: 24px 32px;
    background-color: #FBFBFB;
    background-color: #F5EFEF;
    border-radius: 5px;
}

.recharts-default-legend {
    display: flex;
    justify-content: flex-end;
    gap: 0 32px;
    font-weight: 500;
    font-size: 14px;
}

.activity-chart__tooltip {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 65px;
	height: 80px;
	font-weight: 500;
	font-size: 0.75rem;
	color: #fff;
	background-color: #E60000;
}

.activity-chart__title {
    font-weight: 500;
    font-size: 15px;
    color: #20253A;
}