@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a.activeLink {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}


/**/
main {
    // padding-top: 60px;
    // padding-right: 90px;
    // padding-bottom: 60px;
    // padding-left: 220px;

    padding-top: clamp(1.25rem, -8.75rem + 15.625vw, 3.75rem);
    padding-right: clamp(1.875rem, -7.3558rem + 14.4231vw, 5.625rem);
    padding-bottom: clamp(1.875rem, -2.7404rem + 7.2115vw, 3.75rem);
    padding-left: clamp(9.375rem, -1.3942rem + 16.8269vw, 13.75rem);
    max-width: 1125px;

    h1 {
        font-weight: 500;
        font-size: 48px;

        span {
            color: #FF0101;
        }
    }
}

.select-user__btn {
    display: flex;
    column-gap: 1rem;
    margin: 1rem 0 0;
}