.header__app {
    display: flex;
    align-items: center;
    padding: 18px 0 12px 28px;
    color: #fff;
    background-color: #020203;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;

    nav {
        flex: auto;

        ul {
            display: flex;
            justify-content: space-evenly;
            font-weight: 500;
            font-size: 24px;
        }
    }
}