.user-charts__user-average-session {
    position: relative;
    display: flex;
    flex-basis: calc((100% - 65px)/3);
    h3 {
        position: absolute;
        top: 29px;
        left: 34px;
        width: 147px;
        font-weight: 500;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
    }
    .recharts-responsive-container {
        background-color: #FF0000;
        border-radius: 5px;
    }
}

.average-session__tooltip {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40px;
    height: 30px;
    font-weight: 500;
    font-size: 0.65rem;
    color: #000;
    background-color: #fff;
}

.average-sessions__active-dot {
    stroke: #fff;
    stroke-width: 10px;
    stroke-opacity: .2;
}